.wrapper {
    width: 320px;
    padding: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.avatar {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    object-fit: cover;
}

.follow-btn {
    padding: 6px 16px;
}

.body {
}

.analytics {
    margin-top: 10px;
    font-size: 1.8rem;
}

.value ~ .value {
    margin-left: 20px;
}

.label {
    padding: 8px;
    font-weight: 500;
}

.account-item {
    display: flex;
    padding: 8px;
    cursor: pointer;
}

.avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}

.item-info {
    flex: 1;
    margin-left: 12px;
}

.nickname {
    font-size: 1.6rem;
    color: #161823;
    line-height: 1;
}

.check {
    margin-left: 6px;
    font-size: 1.4rem;
    color: rgb(32, 213, 236);
}

.name {
    font-size: 1.2rem;
    opacity: #161823bf;
}

.more-btn {
    padding: 8px;
    font-size: 1.4rem;
    font-weight: 700;
    color: #fe2c55;
}
